.bg{
    background-image:url('download.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.main{
    background-color:rgba(251, 253, 254, 0.907);
    height:550px;
    width:500px;
    align-items:center;
    position: absolute;
    justify-content:center;
    font-size:18px;
    font-align:center;
    border:3px solid rgba(109, 197, 245, 0.907);
    border-radius:25%;
}
.button {
    background-color: #4CAF50;
    color: #eff3ef;
    border: none;
    width:70px;
    height:50px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.mark{
    background-color:blue;
    color:white;
}
.button-container { margin-top: 20px; margin-left:200px; }
.align{
    text-align: center;
}
.flex{
    background-color:rgba(216, 245, 109, 0.907);
    height:300px;
    width:400px;
    left:10%;
    align-items:center;
    position: relative;
    justify-content:center;
    font-size:18px;
    font-align:center;
}
.logo {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    border-radius:50%;
    position: relative;
    top: 20px;
    left: 30%;
}